/* Configuração básica para o CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #004f88;
}

/* ################################### */

/* Estrutura do grid-template */
section {
    display: grid;
    grid-template:
        "logo header header"100px
        /* 1ª Linha */
        "sidenav content advert"750px
        /* 2ª Linha */
        "sidenav qrcode footer"80px
        /* 3ª Linha */
        / 150px 1fr 100px;
    /* Tamanho aplicado para as colunas */
}

/* ################################### */

/* Estrutura do Cabeçalho */
.logo {
    grid-area: logo;
}

.titulo-pagina {
    grid-area: header;
    color: white;
    font-size: 30px;
    align-self: center;
}

/* ################################### */

/* Estrutura do Div Principal */
.div-principal {
    grid-area: content;

    border: 8px solid white;
    border-radius: 20px;
}

.div-principal h1 {
    text-align: center;
    color: white;
    font-size: 25px;
}

/* ################################### */

/* Estrutura da Div Central */
.div-central {
    margin: 0 auto;
    text-align: center;
    height: 630px;
    width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: white;
}

.div-central h1 {
    margin: 10px;
    padding-top: 20px;
    color: black;
    text-align: center;
}

.input-patrimonio-id {
    background-color: rgb(199, 199, 199);
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.input-patrimonio-id:hover {
    border: 2px solid black;
}

.botao-gerar-qrcode {
    background-color: #004f88;
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.botao-gerar-qrcode:hover {
    box-shadow: 0 0 40px 40px #0173c4 inset;
    cursor: pointer;
}

.botao-gerar-qrcode:active {
    /*Efeito clique no botão*/
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.botao-limpar {
    background-color: red;
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.botao-limpar:hover {
    box-shadow: 0 0 40px 40px rgb(255, 69, 69) inset;
    cursor: pointer;
}

.botao-limpar:active {
    /*Efeito clique no botão*/
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.qrcode-area {
    height: 200px;
    width: 250px;
    background-color: rgb(198, 193, 193);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid black;
}

.botao-salvar {
    background-color: green;
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.botao-salvar:hover {
    box-shadow: 0 0 40px 40px rgb(13, 185, 13) inset;
    cursor: pointer;
}

.botao-salvar:active {
    /*Efeito clique no botão*/
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.botao-imprimir {
    background-color: gray;
    border: none;
    color: black;
    height: 50px;
    width: 110px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.botao-imprimir:hover {
    box-shadow: 0 0 40px 40px rgb(190, 190, 190) inset;
    cursor: pointer;
}

.botao-imprimir:active {
    /*Efeito clique no botão*/
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.area-patrimonio-id {
    margin-top: 10px;
    text-align: center;
    height: 50px;
    width: 180px;
    font-size: 25px;
}

/* ################################### */